<!-- views/partials/footer.ejs -->
<footer class="bg-green-900 text-white pt-8 pb-4 px-4 md:px-16">
    <div class="flex flex-col md:flex-row justify-around text-center text-sm md:text-base mb-6">
      <a href="/about" class="hover:text-yellow-300 mb-2 md:mb-0">ABOUT US</a>
      <a href="/products" class="hover:text-yellow-300 mb-2 md:mb-0">PRODUCTS</a>
      <a href="/awards" class="hover:text-yellow-300 mb-2 md:mb-0">AWARDS</a>
      <a href="/help" class="hover:text-yellow-300 mb-2 md:mb-0">HELP</a>
      <a href="/contact" class="hover:text-yellow-300">CONTACT</a>
    </div>
  
    <div class="border-t border-green-700 my-4"></div>
  
    <p class="text-center text-sm max-w-xl mx-auto text-green-200 px-2 mb-4">
      AgriFusion is committed to revolutionizing agriculture through innovation, technology, and farmer empowerment.
    </p>
  
    <div class="flex justify-center space-x-4 text-lg mb-4">
      <a href="https://facebook.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-twitter"></i></a>
      <a href="https://google.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-google"></i></a>
      <a href="https://instagram.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com" target="_blank" class="hover:text-yellow-300"><i class="fab fa-github"></i></a>
    </div>
  
    <p class="text-center text-xs text-green-300">
      &copy; <%= new Date().getFullYear() %> AgriFusion. All rights reserved.
    </p>
  </footer>